* {
   font-family: 'share tech mono ', monospace;
}

#board, .boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display: none;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start{
    background-color: aqua;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: aquamarine;
}

.snakeSquare{
    background-color: green;
}

.foodSqare {
    background-color: red;
}